@import url('./1-gallery.css');
@import url('./2-form.css');
@import url('simplelightbox/dist/simple-lightbox.css');


:root {
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  color: #2E2F42;
  background-color: #fafafa;
  ;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  color: #2E2F42;
  background-color: transparent;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

h1,
h2,
h3,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

input,
textarea,
button {
  font-family: inherit;
  line-height: inherit;
}

.navigation-btn {
  display: block;
  width: 95px;
  height: 40px;
  padding: 8px 16px;
  text-align: center;
  border: 1px solid #4E75FF;
  border-radius: 8px;
  background-color: transparent;
  color: #2E2F42;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.navigation-btn:first-child {
  margin-bottom: 16px;
}

header {
  display: flex;
  margin-bottom: 16px;
  background-color: transparent;
}

.sl-wrapper .sl-navigation .sl-prev,
.sl-wrapper .sl-navigation .sl-next,
.sl-wrapper .sl-counter,
.sl-wrapper .sl-close {
  color: rgba(255, 255, 255, 1);
}